/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

}

/* /////////////////My CSS//////////////////////// */

:root{
  --ff : 'Poppins', sans-serif;
  --fs-small: 1rem;
  --fs-medium: 1.5rem;
  --fs-large: 2rem;
  
  --primary-clr:#FFFFFF;
  --secondary-clr:#00C6CF;
  --accent-clr: #18483B;
  
    --fc-primary: --primary-clr;
    --fc-secondary: --accent-clr;

  --border-radius:6px;

  --tiny-size: 0.5rem;
  --small-size: 1rem;
  --medium-size: 1.5rem;
  --large-size: 2rem;
}


body {
  font-family: var(--ff);
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}


.header-container{
  background-color: var(--primary-clr);
  position:fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 20vh;
  gap: 2rem;
}

.logo-container{
  padding: var(--small-size);
  background-color: var(--secondary-clr);
  display: flex;
  justify-content: space-between;
}

.logo{
  color: var(--primary-clr);
  font-size: var(--fs-large);
  font-style: italic;
}

.btn{
  background-color: var(--secondary-clr);
  font-size: var(--fs-medium);
  color: var(--primary-clr);
  border-radius: var(--border-radius);
  padding: var(--tiny-size) var(--small-size);
  border: none;
}

.new-book.btn{
  margin: auto;
  width: fit-content;

}

.main-content{
  margin: auto;
  width: 100vw;
  /* height: 80vh; */
  padding: var(--medium-size);
  position: absolute;
  top: 16%;
}


#form{
  border: 1px var(--accent-clr) solid;
  border-radius: var(--border-radius);
  background-color: var(--primary-clr);
  position: sticky;
  top: 20%;
  margin-top: var(--small-size);

}

.form-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px var(--accent-clr) solid;
  border-radius: var(--border-radius);
  padding: var(--tiny-size) var(--tiny-size);
}

.form-header{
  font-size: var(--fs-medium);
  color: var(--accent-clr);
}
.close-form.btn{
  background-color: var(--primary-clr);
  padding: var(--small-size);
  border: none;
}

.form-text-fields{
  padding: var(--small-size) var(--medium-size);
  display: flex;
  flex-direction: column;
  gap: var(--small-size);
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

label{
  font-size: var(--fs-medium);
}

.form-click-fields{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--small-size);
  gap: var(--medium-size);

}

input[type=checkbox] {
  transform: scale(1.5);
}

.books.container{
  display: flex;
  flex-direction: column;
}

.book-card{
  border: 1px var(--accent-clr) solid;
  border-radius: var(--border-radius);
  padding: var(--small-size) var(--large-size);
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.book-content{
  margin-bottom: var(--tiny-size);
}
.details{
  font-size: var(--fs-medium);
}

.book-btns{
  display: flex;
  /* flex-direction: column; */
  gap: var(--tiny-size);
}
.remove.btn,
.status.btn{
  margin: auto;
  padding: var(--tiny-size);
  font-size: var(--fs-small);
}
footer{
  position: fixed;
  bottom: 0;
  background-color: var(--secondary-clr);
  width: 100vw;
  font-size: var(--fs-small);
  color: var(--primary-clr);
  text-align: center;
  padding: 1.1rem;
}